INSTAGRAM_ACCESS_TOKEN=your_long_lived_token_here
INSTAGRAM_USER_ID=your_instagram_business_account_id
INSTAGRAM_PAGE_ID=
INSTAGRAM_PROFILE_URL=https://www.instagram.com/hanna_artesa_/
INSTAGRAM_GRAPH_API_VERSION=v23.0
NEWSLETTER_WEBHOOK_URL=
BREVO_API_KEY=
BREVO_NEWSLETTER_LIST_ID=
